{% extends "base.html" %}

{% block content %}
<!-- breadcrumb area start -->
<div class="breadcrumb__section include-bg" data-background="static/img/breadcrumb/breadcrumb-bg-4.jpg">
   <div class="container">
      <div class="row">
         <div class="col-xxl-12">
            <div class="breadcrumb__content d-md-flex justify-content-between align-items-center">
               <h3 class="breadcrumb__title">Thank You, Professionals</h3>
               <div class="breadcrumb__list">
                  <span><a href="#">Home</a></span>
                  <span class="dvdr">/</span>
                  <span>Thank You, Professionals</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- breadcrumb area end -->

<div id="plan-&-pricing" class="bd-price__section pt-120 pb-30 theme-bg">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="bd-section__title-wrapper text-center mb-30 wow fadeInUp"
               style="visibility: visible; animation-name: fadeInUp;">
               <h3 class="bd-section__title bd-title-border">Thank You, Professionals Program</h3>
               <h3 class="bd-section__title">
                  <span class="custom-color" style="font-size: 14px;">Rewarding Your Expertise!</span>
               </h3>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">A Note of Gratitude</span></h3>
               <p class="text-justify">We sincerely thank you for showing up and contributing your valuable time,
                  knowledge, and perspective
                  to the professional community. At 998-Platform, we believe that every professional
                  deserves recognition, not only for their expertise but also for the role they play in shaping a better
                  ecosystem.</p>
               <p class="text-justify">The <strong>‘Thank You, Professionals Program’</strong> is our way of expressing
                  appreciation — by
                  rewarding your participation, referrals, and contributions while also creating avenues for you to
                  influence, guide, and benefit from the platform you are helping us build.</p>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">Thank You 1 Survey Participation Reward</span>
               </h3>
               <p class="text-justify">By completing the 998-P survey, and upon cross-verification of the information
                  provided, you will receive a <strong>Win-Voucher worth ₹5,000</strong>.</p>
               <p class="text-justify"><b>This Win-Voucher:</b></p>
               <ul class="bd-products-list ms-5" style="letter-spacing: 0.5px;">
                  <li>Is non-transferable and non-cashable.</li>
                  <li>Can be redeemed against future subscription plans of 998-P.</li>
                  <li>Remains valid for 3 years from the date of issue.</li>
               </ul>
               <p class="text-justify">This reward is a token of thanks for your input, which helps us shape the future
                  of professional services.</p>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">Thank You 2: Survey Referral Rewards</span></h3>
               <p class="text-justify">Your network deserves to benefit too, and we want to thank you for helping us
                  grow responsibly. For every professional you refer who successfully completes the survey and enters
                  your Temporary Registration Number (TRN) in the ‘Referred By’ field while taking the Survey, not only
                  the referred professionals receive their <strong style="text-decoration: underline;">Survey
                     Participation Reward,</strong> but you also
                  receive the <strong style="text-decoration: underline;">Survey Referral Reward,</strong> a <strong
                     style="text-decoration: underline;">Win-Voucher</strong> worth ₹1,000 for every ‘Successful
                  Referral’.</p>
               <p class="text-justify"><b>These Win-Vouchers:</b></p>
               <ul class="bd-products-list ms-5" style="letter-spacing: 0.5px;">
                  <li>Are non-transferable and non-cashable.</li>
                  <li>Can be redeemed against future subscription payments on 998-P.</li>
                  <li>Remain valid for 3 years from the date of issue.</li>
               </ul>
               <p class="text-justify"><strong>Missed or Incorrect Referral Entries?</strong><br>
                  If your referred professional forgets to mention your Temporary Registration Number (TRN) or wrongly
                  mentions a different TRN, they can email us at <span style="text-decoration: underline;"><a
                        href="mailto:desk4pros@998-p.com">desk4pros@998-p.com</a></span> with your correct TRN and their
                  details, to get the miss/ mistake corrected. Rest assured, we will ensure you receive the credits you
                  rightfully deserve.</p>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">Thank You 3: Referral Credits</span></h3>
               <p class="text-justify">We appreciate your efforts in creating your network and building your contacts.
                  Whenever your Successful Referral subscribes to any of the Module(s) and/ or Drive(s) on the 998-P in
                  at least the next 7 years (may get extended to life-long), you will receive 10% of the subscription
                  fee collected from that professional as <strong>Referral Credits</strong>. </p>
               <p class="text-justify"><b>These Referral Credits: </b></p>
               <ul class="bd-products-list ms-5" style="letter-spacing: 0.5px;">
                  <li>Are transferable.</li>
                  <li>Can be redeemed against future subscription payments on 998-P.</li>
                  <li>Can be encashed directly into your bank account.</li>
                  <li>Remain valid for 3 years from the date of issue.</li>
               </ul>
               <p class="text-justify">This ensures a sustainable passive income stream — even during a sabbatical.</p>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">Thank You 4 Showcasing Windows</span></h3>
               <p class="text-justify">Your knowledge has the power to influence the future of the profession. We invite you to join us in honorary positions across our Domain-Specific Committees, Industry-Oriented Groups, and Training Circles.</p>
               <p class="text-justify"><b>Opportunities include:</b></p>
               <ul class="bd-products-list ms-5" style="letter-spacing: 0.5px;">
                  <li>Contributing to policy dialogues by assisting State and Central Governments in your specialized domain.</li>
                  <li>Serving on 998-P committees that guide industry practices, sectoral advancements, and technical upgradations.</li>
                  <li>Acting as mentors, trainers, or guest faculty members in professional education programs, including potential collaborations with Universities and Institutes.</li>
                  <li>Acting as a delegate/ expert contributor/ moderator/ panelist in subject meetings.</li>
               </ul>
               <p class="text-justify">Please write to us on <span style="text-decoration: underline;"><a
                        href="mailto:desk4pros@998-p.com">desk4pros@998-p.com</a></span> to express your interest in such opportunities.</p>
            </div>
         </div>
      </div>
      <div class="bd-section__title-wrapper mb-30 wow fadeInUp">
         <div class="row">
            <div class="col-lg-12">
               <h3 class="bd-section__title"><span class="custom-color">Our Commitment to You</span></h3>
               <p class="text-justify">The <strong>Thank You, Professionals Program</strong> is more than just rewards. It is about:</p>
               <ul class="bd-products-list ms-5" style="letter-spacing: 0.5px;">
                  <li>Acknowledging your contribution to the professional ecosystem.</li>
                  <li>Empowering you to influence and co-create future-ready solutions.</li>
                  <li>Helping you generate sustainable value — for yourself and for your community.</li>
               </ul>
               <p class="text-justify">At 998-P, we see professionals not just as users but as partners in building a stronger, smarter, and more equitable professional world. This program is our promise to recognize, reward, and grow with you.</p>
               <p class="text-justify">Together, let us create the future of professional excellence!</p>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}